<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Food</title>
  <link rel="stylesheet" type="text/css" href="css/changePlan.css" />
  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous" />
</head>

<body>
  <div class="changePlan">
    <h3 class="information">Exercise For This Week</h3>

    {{#each exercise}}
    <h4>{{day}}</h4>
    <ul>
      <li>{{item_one}}</li>
      <li>{{item_two}}</li>
    </ul>
    {{/each}}

    <a href="plan" type="button" class="btn btn-warning">Back</a>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
  crossorigin="anonymous"></script>

</html>