body {
  background: rgb(24, 56, 143) !important;
}

.information {
  margin-bottom: 30px;
}

.food {
  display: flex;
  flex-direction: column;
  padding: 60px 200px;
  color: rgb(255, 196, 0);
  width: 700px;
  margin: 0 auto;
  align-items: center;
}

.kCal {
  position: relative;
  left: 130px;
  padding-right: 30px;
}

.btn {
  margin-top: 20px;
  width: 250px;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
}

.submitBtnAlt {
  margin: auto;
}

.form-border {
  /* border-bottom: 3px solid rgb(255, 196, 0); */
  margin-bottom: 30px;
}
