body {
  background: rgb(29, 11, 129) !important;
}

.information {
  margin-bottom: 30px;
}

.home {
  display: flex;
  flex-direction: column;
  padding: 60px 200px;
  color: rgb(255, 196, 0);
  width: 400px;
  margin: 0 auto;
  align-items: center;
}

.btn {
  margin-top: 20px;
  width: 250px;
  color: white;
}

.title {
  margin-top: 30px;
}

.gender-box {
  display: flex;
  flex-direction: row;
  position: relative;
}

.gender-box label {
  bottom: 10px;
}
