body {
  /* background: rgb(29, 11, 129) !important; */
}

.signin {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 60px 150px;
  /* color: white; */
  width: 60%;
  margin: 0 auto;
}

.btn {
  /* margin-top: 30px;
  width: 250px; */
  color: white;
}
